<div class='page-start'>
    <div class='todoPage'>
        <input type="text" class='input-item'/>
        <button class="add">Add To list</button>
        <div class='items-list'>
            
        </div>
    </div>
</div>