<div class='item-row'>
    <div>
        <input type="checkbox" value="{{ number }}" class="tick-box"/>
        <span class='item-name'>{{ itemName }}</span>
        <span class='cross'> x </span>
    </div>
</div>